:root {
  --primary-dark: #10151F;
  --secondary-gray: #3E424A;
  --accent-orange: #FF4000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}


body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-dark);
}

.container {
  width: 89.58%;
  margin: auto;
}